rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isApprovedUser(userId) {
      return request.auth != null
        && request.auth.uid == userId
        && request.auth.token.email in [
          "chansuh@gmail.com",
          "thomassuhruth@gmail.com"
        ];
    }

    match /users/{userId}/appState/{documentId} {
      allow read, write: if isApprovedUser(userId);
    }
    match /users/{userId}/settings/{documentId} {
      allow read, write: if isApprovedUser(userId);
    }
  }
}
